@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

* {
  font-family: "Noto Serif KR", serif;
  margin: 0;
  padding: 0;

}
html, body{
    min-height: 100%;
}
ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.hidden{
    visibility: hidden;
}
.dark{
   color: white;
   background-color: black;
}

#wrap{
    min-height: 100%;
    position: relative;
}
header{
    height: 60px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 160px;
}


.container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left-m{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    height: 50px;
    padding-left: 10px;
}

.logo > p{
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 0;
} 

.logo p > a{
    color: black;
    display: block;
}
.logo p > a:hover{
    color: #0d6efd;
}

.menubar{
    width: 200px;
    height: 50px;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
   
}
.menubar li{
    width: 60px;
}

.menubar li > a{
    color: black;
    display: block;
}
.menubar li > a:hover{
    color: #0d6efd;
}

.right_m{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding-left: 0;

}
.add_m > li{
    width: 60px;
    height: 30px;
    text-align: center;
}

.daynight{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: none;
    position: relative;
}
.daynight > .daybox{
    width: 40px;
    height: 30px;
}
.daynight > .nightbox{
    width: 40px;
    height: 30px;
    position: absolute;
    top : 0;
}

.daybox > svg{
    display: block;
    width: 20px;
    height: 20px;   
    margin: 4px auto 0 auto;
}




.mytitle {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url(https://mblogthumb-phinf.pstatic.net/MjAyMjEyMjBfMTMy/MDAxNjcxNDkzMTA0OTcz.-fTC6tHtuhcn4XPVDWKUwXEDxoUiCZvxF2FT5ww9s7Qg.4J1g53rJNqz-ZkmLrKWXlY0k6r96054NmI279236thgg.JPEG.yusi2004/nj_ditto_13.jpg?type=w800);
  background-position: center 20%;
  background-size: cover;
}

.mytitle > button {
  color: white;
  background-color: transparent;

  border: 0.5px solid gray;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.mypostingbox {
  width: 500px;
  margin: 30px auto 0px auto;

  border: 1px solid gray;
  padding: 20px;
  border-radius: 5px;
}

.teamsection {
  width: 300px;
  margin: 30px auto 0px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamcards {
  width: 1200px;
  margin: 50px auto 50px auto;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.aboutsection {
  width: 300px;
  margin: 30px auto 0px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutcards {
  width: 1200px;
  margin: 50px auto 50px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer{
    height: 450px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > .row{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    height: 350px;
    justify-content: space-between;
}
.col-6{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.col-6 > h5{
    margin-bottom: 10px;
}
.col-md-5.mb-3{
    width: 55%;
    height: 90%;
}
.mb-3{
    margin: 0;
}

.nav-item.mb-2{
    display: flex;
    flex-direction: row;
    
}
.nav-item.mb-2 > svg{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
#calendar{
    height: 100%;
}
.fc .fc-toolbar-title{
    font-size: 20px;
}
.fc button{
    width: 70px;
    height: 40px;
    text-align: center;
}
.fc-view-harness{
    width: 100%;
    height: 100%;
}
.fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 10px;
}
.fc-scrollgrid{
    background-color: rgba(255,255,255,0.6);
}
.fc-scrollgrid a{
    color: black;
}
.fc-event-title-container{
    background-color: #0d6dfd8b;
    border: none;
    color: white;
}
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner{
    background-color: white;
}
.fc-event-title.fc-sticky{
    font-size: 12px;
}